@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 99%; /* Alice Blue */
    --foreground: 240 64% 8%; /* Dark Slate Blue */

    --card: 240 10% 99%;
    --card-foreground: 240 64% 8%;
 
    --popover: 240 10% 99%;
    --popover-foreground: 240 64% 8%;
 
    --primary: 255 75% 41%; /* Indigo */
    --primary-foreground: 210 40% 98%;
 
    --secondary: 240 10% 91.4%;
    --secondary-foreground: 240 64% 8%;
 
    --muted: 240 10% 91.4%;
    --muted-foreground: 240 4% 46%;
 
    --accent: 271 76% 53%; /* Soft Violet */
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5% 85%;
    --input: 240 5% 90%;
    --ring: 255 75% 41%;

    --radius: 0.5rem;

    --user-message-background: 255 75% 41%;
    --user-message-foreground: 210 40% 98%;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217.2 91.2% 59.8%;
    
    --user-message-background: 217.2 91.2% 59.8%;
    --user-message-foreground: 222.2 47.4% 11.2%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
